*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    width: 100%;
    background-color: rgb(73, 73, 73);
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    padding: 0%;
}
.container-fluid{
    background-color: rgb(49, 49, 49);
    height: 90px;
    line-height: 0;
}

.navbar-nav.me-auto.mb-2.mb-lg-0 li a{
    color: rgb(230, 230, 230);
    font-family: monospace;
    font-size: 19px;
    margin-left: 60px;       
    
}
.navbar-nav.me-auto.mb-2.mb-lg-0 li a:hover{
    color: rgb(255, 255, 255);
}
.form-control.me-2{
    font-family: monospace;
    
}
.btn.btn-outline-success{
    background-color: rgba(32, 32, 32, 0.623);

    border: none;
    color: rgb(148, 148, 148);
    
}
.btn.btn-outline-success:hover{
    color: whitesmoke;
    background-color: #23b5b5;
}
.carousel.slide{
    margin: 20px auto;
    width: 100%;
    height: 600px;
    width: 90%;
    background-size: contain;
    display: flex;
    justify-content: space-around;
    
}
.btn.btn-primary{
    width: 160px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-family: monospace;
    color: blanchedalmond;
    background-color: rgb(88, 184, 187);
}
.btn.btn-primary:hover{
    background-color: #23b5b5;
}
.texto-chamada {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: rgb(59, 59, 59, 0.4);
    color: blanchedalmond;
    background-color: transparent 0.2;
}
.texto-chamada > .assinar :hover{
    width: 122px;
}
section .col{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.imagem{
    border-radius: 3%;
    box-shadow: 10px 10px 10px rgb(88, 88, 88) ;
    cursor: pointer;
    transition: 0.6s;
}
.imagem:hover{
    transform: scale(1.1);
}
.btn.btn-outline-success :hover{
    background-color: darkcyan;
}

.modal-header{
    margin: 0 auto;
}
.modal-body{
    margin: 0 auto;
    background-color: gray;
}
.modal-body img{
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.modal-text > p{
    font-family: monospace;
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    text-justify: newspaper;
}
